**/__pycache__/
**/.ipynb_checkpoints/
notebooks/*
references/*
models_trained/*
data_svc*/*
assets*/*
chkpt/*
logs/*
files/*
hubert_pretrain/*
whisper_pretrain/*
speaker_pretrain/*
vits_pretrain/*
style_encoder/best_model*.pth
style_encoder/tpangre/*
crepe/assets/*
svc_out*
svc_tmp*
